body {
background-color:white;
height: 100vh;

}

h1 {
  font-size: 48px;

}

a {
  color:black;
  text-decoration: none;
}

a:hover {
  color:black;
  text-decoration: none;
}


.nav-item {
  margin-left: 20px;

}

.avatar {
  margin: 0 auto;
}

.banner {
  height:800px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)),url('../img/banner.jpg');
  background-position: center;
  background-size: cover;
  background-position: center;
}

.second-section {
  height:800px;
  width: 800px;
  margin: 0 auto;
  background-color: white;
  background-position: center;
  background-size: cover;
  background-position: center;
}

.project-image {
margin-left:50px;
 display:block;
 max-width:80%;
 max-height: 300px;

}
 .my-card-img {
  max-height: 200px;
 }
